html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 40px;
  color: rgb(42, 41, 41);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}


.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  justify-content: center;
}

.game-info {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-info div {
  width: auto;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  color: rgb(0, 2, 141);
}

.game-info li {
  margin: 10px auto;
  list-style: none;
}

.timeline-button {
  padding: 10px 20px;
  margin-left: -20px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #60008a;
  color: #fff;
}


